<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd/MM HH:mm:ss.SSS}|%-5level|%-70.70thread|%30.30logger{1}|%exception%message%n</pattern>
        </encoder>
    </appender>

    <logger name="hsqldb" level="warn" />
    <logger name="com.enioka.jqm.jdbc" level="info" />
    <logger name="org.ops4j.pax" level="info" />
    <logger name="org.eclipse.jetty" level="info" />
    <logger name="org.apache.felix" level="trace" />

    <root level="info">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>
